<form method="post" id="frm-buscar-prestamose">
    <div class="card text-white bg-info mb-3" style="max-width: 48rem;">
        <div class="card-header"><img src=public/css/lupa.png>
            BUSQUEDA DE PRESTAMOS

            <button type="button" id="btn-close-buscar-prestamose" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-prestamose" class="table-striped bh-info table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="4">
                            <input type="text" v-model="valor" v-on:keyup="buscarPrestamose" placeholder="Todo" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>ESTUDIANTE</th>
                        <th>LIBRO</th> 
                        <th>FECHA DE PRESTAMO</th>
                        <th>FECHA DE DEVOLUCION</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_prestamoe in mis_prestamose" :key="mi_prestamoe.idPrestamoe" v-on:click="modificarPrestamoe(mi_prestamoe)" >
                        <td>{{ mi_prestamoe.estudiante.label }}</td>
                        <td>{{ mi_prestamoe.libro.label }}</td>
                        <td>{{ mi_prestamoe.f }}</td>
                        <td>{{ mi_prestamoe.d }}</td>
                        <td>
                            <input v-on:click="eliminarPrestamoe(mi_prestamoe.idPrestamoe)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/prestamose/buscar-prestamose.js"></script>