<form method="POST" id="frm-buscar-estudiantes">
    <div class="card text-white bg-info mb-3" style="max-width: 48rem;">
        <div class="car-header">
            BUSQUEDA DE ESTUDIANTES 

            <button type="button" id="btn-close-buscar-estudiantes" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-estudiantes" class="table-striped bh-info table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarEstudiante" placeholder="Nie, Nombre o Telefono" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>NIE</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TELEFONO</th>
                        <th>GRADO</th>
                        <th>SECCION</th>
                        <th>EMAIL</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="estudiante in misestudiantes" :key="estudiante.idEstudiante" v-on:click="modificarEstudiante(estudiante)">
                        <td>{{ estudiante.nie }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.direccion }}</td>
                        <td>{{ estudiante.telefono }}</td>
                        <td>{{ estudiante.grado }}</td>
                        <td>{{ estudiante.seccion }}</td>
                        <td>{{ estudiante.email }}</td>
                        <td>
                            <input v-on:click="eliminarEstudiante(estudiante.idEstudiante)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/estudiantes/buscar-estudiantes.js"></script>