<form method="post" id="frm-estudiantes" v-on:submit.prevent="guardarEstudiantes" v-on:reset.prevent="limpiarEstudiantes">
    <div class="card text-white bg-info mb-3" style="max-width: 24rem;">
        <div class="card-header"><img src=public/css/iconoo.png>
            REGISTRO DE ESTUDIANTES

            <button type="button" id="btn-close-estudiantes" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    NIE
                </div>
                <div class="col-6">
                    <input type="text" required v-model="estudiante.nie" placeholder="00000000" class="form-control">
                </div>
            </div>
        <div class="row p-2">
            <div class="col-4">
                NOMBRE
            </div>
            <div class="col-8">
                <input type="text" required v-model="estudiante.nombre" placeholder="AAAAA AAAAA" class="form-control">
            </div>
        </div>
            <div class="row p-2">
                <div class="col-4">
                    DIRECCION
                </div>
                <div class="col-8">
                    <input type="text" required v-model="estudiante.direccion" placeholder="AAAAAA" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    TELEFONO
                </div>
                <div class="col-8">
                    <input type="text" required v-model="estudiante.telefono" placeholder="0000-0000" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    GRADO
                </div>
                <div class="col-8">
                    <input type="text" required v-model="estudiante.grado" placeholder="0°" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    SECCION
                </div>
                <div class="col-8">
                    <input type="text" required v-model="estudiante.seccion" placeholder="A" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    EMAIL
                </div>
                <div class="col-8">
                    <input type="text" required v-model="estudiante.email" placeholder="AAAAAA@XXXXXX.AAA" class="form-control">
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <input id="btnGuardarEstudiantes" type="submit" class="btn btn-primary text-white" value="Guardar">
                        <input type="reset" class="btn btn-warning text-white" value="Limpiar">
                        <input type="button" class="btn btn-success mostrar-buscar-estudiantes text-white" data-modulo="estudiantes" data-form="buscar-estudiantes" value="Buscar" data-modulo="buscar-estudiantes" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/estudiantes/estudiantes.js"></script>