<form method="post" id="frm-buscar-prestamos">
    <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="card-header">
            BUSQUEDA DE PRESTAMOS

            <button type="button" id="btn-close-buscar-prestamos" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-prestamos" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="3">
                            <input type="text" v-model="valor" v-on:keyup="buscarPrestamos" placeholder="codigo, nombre, dui o nit" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_prestamo in mis_prestamos" :key="mi_prestamo.idPrestamo" v-on:click="modificarprestamo(mi_prestamo)" >
                        <td>{{ mi_prestamo.codigo }}</td>
                        <td>{{ mi_prestamo.nombre }}</td>
                        <td>
                            <input v-on:click="eliminarprestamo(mi_prestamo.idPrestamo)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/prestamos/buscar-prestamos.js"></script>