<form v-on:submit.prevent="guardarPrestamos" v-on:reset="limpiarPrestamos" id="frm-prestamos">
    <div class="card text-dark bg-hover mb-3" style="max-width: 24rem;">
        <div class="card-header">
            PRESTAMO DE LIBROS

            <button type="button" id="btn-close-prestamos" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        PERSONA
                    </div>
                    <div class="col">
                        <v-select v-model="prestamo.persona" :options="personas" placeholder="Seleccione una persona"/>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col"> 
                    <div class="col">
                        LIBRO
                    </div>
                    <div class="col">
                        <v-select v-model="prestamo.libro" :options="libros" placeholder="Seleccione un libro"/>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        FECHA DE PRESTAMO
                    </div>
                    <div class="col">
                        <input type="date" v-model="prestamo.prestamo" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        FECHA DE DEVOLUCION
                    </div>
                    <div class="col">
                        <input type="date" v-model="prestamo.devolucion" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <input id="btnGuardarPrestamos" type="submit" class="btn btn-outline-primary text-dark" value="Guardar">
                        <input type="reset" class="btn btn-outline-warning text-dark" value="Limpiar">
                        <input type="button" class="btn btn-outline-success mostrar-buscar-prestamos text-dark" data-modulo="prestamos" data-form="buscar-prestamos" value="Buscar" >
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <div class="alert alert-success" role="alert"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/prestamos/prestamos.js"></script>