<form v-on:submit.prevent="guardarPrestamos" v-on:reset="limpiarPrestamos" id="frm-prestamos">
    <div class="card text-white bg-info mb-3" style="max-width: 24rem;">
        <div class="card-header"><img src=public/css/libro.png>
            REGISTRO DE PRESTAMOS

            <button type="button" id="btn-close-prestamos" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        USUARIO
                    </div>
                    <div class="col">
                        <v-select v-model="prestamo.usuario" :options="registros" placeholder="Seleccione un usuario"/>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        LIBRO
                    </div>
                    <div class="col">
                        <v-select v-model="prestamo.titulo" :options="libros" placeholder="Seleccione un libro"/>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        FECHA DE PRESTAMO
                    </div>
                    <div class="col">
                        <input type="date" v-model="prestamo.fechaPrestamo" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col">
                    <div class="col">
                        FECHA DE DEVOLUCION
                    </div>
                    <div class="col">
                        <input type="date" v-model="prestamo.fechaDevolucion" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 p-2">
                <div class="row-col text-center">
                    <div class="col">
                        <input id="btnGuardarPrestamos" type="submit" class="btn btn-primary text-white" value="Guardar">
                        <input type="reset" class="btn btn-warning text-white" value="Limpiar">
                        <input type="button" class="btn btn-success mostrar-buscar-prestamos text-white" data-modulo="prestamos" data-form="buscar-prestamos" value="Buscar" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/prestamos/prestamos.js"></script>