
.modulos{ 
    position: absolute;
}
.img-background{
  background: url(../img/597566.jpg) no-repeat center center fixed;
  background-size: cover;
}
.modal-content{
  background-color: midnightblue;
  opacity: .85;
  padding: 0 20px;
  
  box-shadow: 0px 0px 5px #848484;
}
.main-section{
  margin: 0 auto;
  margin-top: 25%;
  padding: 0;
}
.margin-title{
  margin-top: 10px;
}
a{
  margin-bottom: 15px;
}
.user-img{
  margin-top: -50px;
  margin-bottom: 35px;
}

.user-img img{
  width: 100px;
  height: 100px;
}
.btn{
  width: 60%;
  margin: 5px 0 25px;
}
.v-select{
    background: white !important;
}

.bg-light {
  background-image: url(biblioteca.gif);
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
  
}

body {
    overflow-x: hidden;
}
  
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
  
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
  
#sidebar-wrapper .list-group {
  width: 15rem;
}
  
#page-content-wrapper {
  min-width: 100vw;
  
}
  
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
  
@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}
  
#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
  
#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
}