<form method="POST" id="frm-buscar-libros">
    <div class="card text-white bg-dark mb-3" style="max-width: 48rem;">
        <div class="car-header">
            BUSQUEDA LIBROS 

            <button type="button" id="btn-close-buscar-libros" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-libros" class="table-striped table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarLibro" placeholder="Codigo, Titulo o Genero" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>CODIGO</th>
                        <th>TITULO</th>
                        <th>EDICION</th>
                        <th>GENERO</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="libro in mislibros" :key="libro.idLibro" v-on:click="modificarLibro(libro)">
                        <td>{{ libro.codigo }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.edicion }}</td>
                        <td>{{ libro.genero }}</td>
                        <td>
                            <input v-on:click="eliminarLibro(libro.idLibro)" type="button" class="btn btn-outline-danger text-white" value="del">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/libros/buscar-libros.js"></script>