<form v-on:submit.prevent="guardarLibro" data-accion="nuevo" data-idlibro='' id="frm-libros" method="post">
    <div class="card text-white bg-info mb-3" style="max-width: 24rem;">
        <div class="card-header">
            REGISTRO DE LIBROS
        
            <button type="button" id="btn-close-libros" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    CODIGO
                </div>
                <div class="col-6">
                    <input type="text" v-model="libro.codigo" placeholder="AAA000" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    TITULO
                </div>
                <div class="col-8">
                    <input type="text" v-model="libro.titulo" placeholder="AAAAAAAAAA" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    EDICION
                </div>
                <div class="col-8">
                    <input type="text" v-model="libro.edicion" placeholder="0000" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    GENERO
                </div>
                <div class="col-8">
                    <input type="text" v-model="libro.genero" placeholder="AAAAAAAAAA" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarLibros" type="submit" class="btn btn-primary text-white" value="Guardar">
                    <input type="reset" class="btn btn-warning text-white" value="Limpiar">
                    <input type="button" class="btn btn-success mostrar-buscar-libros text-white" data-modulo="libros" data-form="buscar-libros" value="Buscar">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ libro.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/libros/libros.js"></script>