<form method="post" id="frm-buscar-prestamos">
    <div class="card text-white bg-info mb-3" style="max-width: 48rem;">
        <div class="card-header"><img src=public/css/iconoo.png>
            HISTORIAL

            <button type="button" id="btn-close-historial" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <table id="tbl-buscar-prestamos" class="table-striped bh-info table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="4">
                            <input type="text" v-model="valor" v-on:keyup="buscarPrestamos" placeholder="Todo" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>USUARIO</th>
                        <th>LIBRO</th> 
                        <th>FECHA DE PRESTAMO</th>
                        <th>FECHA DE DEVOLUCION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="mi_prestamo in mis_prestamos" :key="mi_prestamo.idPrestamo" v-on:click="modificarPrestamo(mi_prestamo)" >
                        <td>{{ mi_prestamo.usuario.label }}</td>
                        <td>{{ mi_prestamo.libro.label }}</td>
                        <td>{{ mi_prestamo.f }}</td>
                        <td>{{ mi_prestamo.d }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script src="public/vistas/prestamos/buscar-prestamos.js"></script>