<form v-on:submit.prevent="enviarMensaje" id="frm-chat">
    <div class="container2">
        <h3 class=" text-center"> Chat </h3>
        <div class="container">
            <div class="card">
                <div class="card-body col msg_history">
                    <div class="row p-2" v-for="item in msgs" v-if="item.de1 != msg.de1">
                        <div class="card shadow-lg bg-white mr-auto p-2" v-if="item.imagen != '' ">
                            <img class="img-thumbnail" :src="item.imagen">
                            <p class="card-text">{{ item.msg }}</p>
                        </div>
                        <div class="card shadow-lg bg-white mr-auto p-2" v-else>
                            <p class="card-text">{{ item.msg }}</p>
                        </div>
                    </div>
                    <div class="row p-2" v-else>
                        <div class="card shadow-lg bg-success text-light ml-auto p-2" v-if="item.imagen != '' ">
                            <img class="img-thumbnail" :src="item.imagen">
                            <p class="card-text">{{ item.msg }}</p>
                        </div>
                        <div class="card shadow-lg bg-success text-light ml-auto p-2" v-else>
                            <p class="card-text">{{ item.msg }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <label class="btn btn-Secondary">
                                <input @change="cargarImagen" type="file" class="d-none" id="file" accept="image/*">
                                <img src="imagenes/logomenu.png" class="img-responsive" height="30">
                            </label>
                        </span>
                        <input type="text" class="form-control" v-model="msg.msg" placeholder="Escribe tu Mensaje">
                        <span class="input-group-addon">
                        <input type="submit" class="btn btn-success" values="Enviar"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/vistas/chat/chat.js"></script>